.card{
	background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 50%),
	        url('https://unsplash.it/1000/600?image=0');
	height: 300px;
	color: white;
	position: relative;
}

.card-avatar{
	position: absolute;
	top: 10px;
	right: 10px;
}

.card-topic{
	position: absolute;
	top: 10px;
	left: 10px;
	text-transform: uppercase;
}

.card-title{
	position: absolute;
	bottom: 10px;
	left: 10px;
}